$mainColor: #8d6666
$mainAccentColor: #4e2fff
$additionalAccentColor: #1e2ca7
$titlesFontColor: #691010
$commonFontColor: #1c4d23
$textSmallColor: #57b495
$backgroundColor: #3ee7fd
$diplomaTextColor: #ffeaea

$titlesFont: Nunito, sans-serif
$commonFont: Rubik, sans-serif
$accentFont: Vollkorn, serif
$detailFont: Inter, sans-serif