$bodyColor: #fff
$bodyAccentColor: #fff
$mainColor: #14A76C
$mainAccentColor: #FF652F
$additionalAccentColor: #E02D05
$additionalCommonColor: #1F1D2A
$commonColor: #4F5569
$commonLightColor: #9FA0A7
$commonDarkColor: #000000

$textLightColor: $commonLightColor
$textDiplomaColor: $commonDarkColor
$textTitleColor: $additionalCommonColor
$textMainColor: $additionalCommonColor
$textCommonColor: $commonColor
$textAccentColor: $mainAccentColor
$textAdditionalColor: $mainColor

$btnBgColor: $mainColor
$btnBgAccentColor: $mainAccentColor
$btnBgAdditionalColor: $additionalAccentColor
$btnTextColor: $bodyAccentColor

$inputBgColor: $bodyAccentColor

$diplomaBgColor: linear-gradient(90deg, #6693B4 0%, #8FEFEA 100%)
$discountShadowColor: rgba(20, 167, 114, 0.2)
$featuresShadowColor: rgba(215, 211, 225, 0.5)
$mainBlockShadowColor: rgba(25, 218, 140, 0.25)
$regFormShadowColor: rgba(218, 71, 25, 0.25)

$titlesFont: Nunito, sans-serif
$commonFont: Rubik, sans-serif
$accentFont: Vollkorn, serif
$detailFont: Inter, sans-serif
