.header
    padding: 30px 263px
    display: flex
    justify-content: space-between
    align-items: center
    
.header__logo
    display: flex
    align-items: center    
    
.header__logo-text 
    margin-top: 10px
    color: $titlesFontColor
    font-weight: 500
    font-size: 34.125px
    line-height: calc(40 / 34.125 * 100%)

.header__logo-detail 
    color: $mainAccentColor
    font-weight: 400
    font-size: 34.125px
    line-height: calc(40 / 34.125 * 100%)

.header__logo-icon
    margin-right: 5px

.header__button 
    width: 180px
    height: 44px
    background: #FFFFFF
    border: 1px solid #1F1D2A
    font-size: 20px
    line-height: calc(20 / 24 * 100%)
    text-align: center
    letter-spacing: 0.04em
