.main-block
    margin-bottom: 200px
    padding-left: 263px
    display: flex
    justify-content: space-between
    
.main-block__prev 
    font-size: 15px
    line-height: 25px
    letter-spacing: 0.08em
    text-transform: uppercase
    color: $textSmallColor

.main-block__title 
    margin-bottom: 40px
    font-family: $titlesFont
    font-weight: 700
    font-size: 55px
    line-height: 67px
    color: $titlesFontColor

.main-block__text 
    margin-bottom: 59px
    font-size: 18px
    line-height: 150%
    letter-spacing: 0.05em
    color: $commonFontColor

.main-block__button 
    padding: 18px 73px
    background: $mainColor
    box-shadow: 0px 15px 30px rgba(25, 218, 140, 0.25)

    font-size: 20px
    line-height:  24px
    letter-spacing: 0.04em

    color: $backgroundColor

.main-block__inner
    display: flex
    justify-content: space-between
    align-items: flex-start

.main-block__wrapper
    padding-top: 329px
    padding-bottom: 55px
