.space
    position: relative

.space__elephant
    position: absolute
    top: 224px
    left: 577px

.space__lamp
    position: absolute
    top: 327px
    left: 464px

.space__rocket
    position: absolute
    top: 353px
    left: 88px

.space__clock
    position: absolute
    top: 219px
    left: 116px

.space__plane
    position: absolute
    top: 329px
    left: 717px

.space__planet-lines
    position: absolute
    top: 134px
    left: 402px

.space__big-planet
    position: absolute
    top: 81px
    left: 208px

.space__atom
    position: absolute
    top: 132px
    left: 75px

.space__dark-planet
    position: absolute
    top: 460px
    left: 315px

.space__division
    position: absolute
    top: 186px
    left: 516px

.space__plus
    position: absolute
    top: 240px
    left: 432px

.space__balloon
    position: absolute
    top: 296px
    left: 354px

.space__palette
    position: absolute
    top: 119px
    left: 721px

.space__stars-bg
    position: absolute
    top: 14px
    left: 118px

    